numpy==1.26.4
insightface==0.7.3
onnxruntime-gpu==1.22.0
opencv-python==4.11.0.86
h5py==3.14.0
onnx==1.21.0
onnxconverter-common==1.16.0
scikit-image==0.26.0
scikit-learn==1.7.2
scipy==1.17.1
pyyaml==6.0.3
tqdm==4.68.2
requests==2.34.2
pillow==12.2.0
